{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}


  <script>
    var closeImage = function () {
      document.getElementById('image-container').classList.add('hide-display')
    }
    var loadImage = function (src) {
      console.log(src)
      document.getElementById('image').innerHTML = '<img src="images/' + src + '" />'
      document.getElementById('image-meta').innerHTML = src
      document.getElementById('image-container').classList.remove('hide-display')
    }
    document.addEventListener('DOMContentLoaded', function(){
      var isAdmin = (getCookie("isAdmin")=='true')
      console.log("is admin", isAdmin)
      if (isAdmin) document.getElementById("scrolling_div").classList.add('admin')
    }, false)
  </script>


  {{ $url := urls.Parse .Permalink }}
  {{ $transcriptId  := replace (replace $url.Path "kenhale" "") "/" "" }}

  {{ partial "audio-script.html" (dict "baseurl" .Site.BaseURL "transcriptId" $transcriptId ) }}

  <div class="page-row ">

    <div id="scrolling_div" class="page-content" >

      <!-- check if we have an id, to prevent compile errors -->
      {{ if (index .Site.Data.kenhale $transcriptId) }}

        {{ range $phraseKey, $phrase := (index .Site.Data.kenhale $transcriptId).phrases }}


        <!-- REPLACE THIS -->
        {{ $.Scratch.Set "phraseNote" (slice "") }}


        <div class='phrase bg-washed-blue' id="phrase-{{ $phraseKey }}">

          <div class="phrase-id pa1">{{ $phrase.meta.id }}</div>

            {{ if and ( $phrase.meta.begin_time_offset) ( $phrase.meta.end_time_offset) }}
              {{ partial "audio-button.html" (dict "startTime" $phrase.meta.begin_time_offset "endtime" $phrase.meta.end_time_offset ) }}
            {{ else }}
              <div class="audio-button-missing"></div>
            {{ end }}

<!--
          <section class="phrase-log-row">
            <div class="log phrase-begin-time-offset"> {{ $phrase.meta.begin_time_offset }} </div>
            <div class="log phrase-end-time-offset"> {{ $phrase.meta.end_time_offset }} </div>
            <div class="log phrase-guid"> {{ $phrase.meta.guid }} </div>
          </section>
 -->

          <section class="phrase-content-row">
            <div class="phrase-content" data-offset='{{ $phrase.meta.end_time_offset }}'>

              {{ if $phrase.meta.publish }}
                <!-- put metadata into the words container element as class names -->
                <div class='words {{ range $phrase.meta }} {{ . | urlize }} {{ end }}'>
                  {{ range $w, $word := $phrase.words}}
                    <div class="word">
                      <div class="text space-{{ $word.space }}{{ $word.type }}">
                        {{ $word.vernacular }}
                      </div>
                      <div class="text gls hide-display">
                        {{ $word.gloss }}
                      </div>
                      <div class="morphemes hide-display">
                        {{ range $m, $morpheme := $word.morphemes}}
                          <div class="col">
                            <div class="morph txt">
                              {{ $morpheme.txt }}
                            </div>
                            <div class="morph gls">
                              {{ $morpheme.gls }}
                            </div>
                          </div>
                        {{ end }} <!-- / range morphemes -->
                      </div>      <!-- / morphemes -->
                    </div>        <!-- / word -->
                  {{ end }}       <!-- / range phrase.words -->
                </div>            <!-- / words -->

                <div class="phrase-gloss">
                  {{ $phrase.gloss }}
                </div>

              {{ else }}

                <p>(muted)</p>

              {{ end }}         <!-- / publish -->
            </div>              <!-- / phrase-content -->


            <div class="phrase-notes">
              <p class="phrase-meta-guid hide-display"> {{ $phrase.meta.guid }} </p>
              <p class="lang"> {{ $phrase.meta.lang }} </p>
              <p class="speaker"> {{ $phrase.meta.speaker }} </p>
              {{ if $phrase.meta.img }}
                <div class="image-button" onclick='loadImage({{ $phrase.meta.img }})'>
                  {{ $phrase.meta.img }} <i class="fa fa-picture-o "></i>
                </div>
              {{ end }}
            </div>



          </section>

        </div>


        {{ end }} <!-- phrase range -->

      {{ end }} <!-- index .Site.Data.kenhale transcriptId -->

    </div> <!-- page-content -->

    <div id="image-container" class="image-container hide-display">
      <div class="close" onclick='closeImage()'><i class="fa fa-times-circle "></i></div>
      <div id="image-meta" class="meta">meta</div>
      <div id="image"></div>
    </div>

  </div> <!-- page-row -->

{{ end }}
{{ define "footer" }}{{ partial "kenhale-footer.html" . }}{{ end }}

