---
title: "Settings"
date: 2018-01-24T13:52:02+10:00
---

<h1>Settings</h1>

<div class="flex items-center">
  <div class="pr3 f3">
    See the secret admin notes on transcripts
  </div>
  <div class="">
    <input class="switch" type="checkbox" id="isAdmin" onclick="toggleSetting('isAdmin')" />
    <label class="switch" for="isAdmin">Toggle</label>
  </div>
</div>

<script>
  var toggleSetting = function(elementId) {
    var isChecked = document.getElementById(elementId).checked
    setCookie(elementId, isChecked, 30)
  }

  document.addEventListener('DOMContentLoaded', function(){
    var isAdmin = (getCookie("isAdmin")=='true')
    document.getElementById("isAdmin").checked = isAdmin
  }, false)
</script>