.home table { margin: 3em 0 }
.home table th { padding-right: 2em }

.meta-error,
.missing-gloss { display: none; }

.admin .meta-error,
.admin  .missing-gloss { display: block }
.admin  .missing-gloss { background-color: orange }
.admin .error-gloss    { background-color: pink }

.admin .meta-error { color: red; }

input.switch[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
}

label.switch {
  cursor: pointer;
  text-indent: -9999px;
  width: 100px;
  height: 50px;
  background: grey;
  display: block;
  border-radius: 50px;
  position: relative;
}

label.switch:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 40px;
  transition: 0.3s;
}

input.switch:checked + label.switch {
  background: #bada55;
}

input.switch:checked + label.switch:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label.switch:active:after {
  width: 40px;
}



.word { margin: 0.2em 0em }

.text.gls {
  display: flex;
  background-color: rgba(255,216,200,0.4);
  margin: 2px;
}

.morphemes { display: flex; background-color: rgba(255,255,200,0.4); }
.morphemes .col { flex: 1; }
.morphemes .morph { white-space: nowrap;  }

.morphemes .morph.varianttypes,
.morphemes .morph.cf,
.morphemes .morph.msa,
.morphemes .morph.hn { display: none }

.col { padding-right: 5px; }

html,
body.transcript { height: 100% }

.hide-opacity { opacity: 0 !important }
.hide-display { display: none !important }

.post-title { color: #fff }

/* header nav*/

  .header { display: flex }

  nav { background-color: black }

  nav li:not(:first-child) { border-left: 1px solid #aaa }


/* transcript layout */

  body.transcript  {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .transcript header,
  .transcript footer { flex: 0 }

  .transcript main {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
  }

  .transcript .audio-row { flex: 0 0 100px }

  .transcript .page-row {
    flex: 1;
    display: flex;
    position: relative;
    overflow: scroll;
  }

  .transcript .page-content {
    flex: 2;
    padding-bottom: 6em;
  }

  .phrase-id {
    color: #aaa;
    font-size: 0.8em;
  }

  #scrolling_div{
    overflow-y: scroll;
    height: 100%;
  }

  .transcript .image-container {
    flex: 0 0 300px;
    position: relative;
    height: 100%;
    display: block;
  }

  .audio-button-missing { width: 48px; }


/* image container bits */

  .image-container { background-color: #eee }



  .image-container .close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.4em;
    padding: 0 0.5em;
  }

  .image-container .meta {
    padding: 0 0.5em;
    color: #888;
  }

  .image-container { color: #aaa }

  /* transcript phrase bits */
  .phrase-log-row { display: none }

  .phrase {
    margin-bottom: 0.6em;
    padding: 0.6em 0;
  }


  .phrase { display: flex }
  .phrase-id { flex: 0 0 auto }
  .phrase-content-row { flex: 1 }


  .phrase-content-row{ display: flex; }
  .phrase-content { flex: 1 }
  .phrase-gloss { flex: 0 0 auto }

  .phrase-content {
    display: flex;
    flex-direction: column;
  }

  .stories .image-caption { font-style: italic; }
  .stories .phrase-content { flex-direction: row; }

  .words {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    flex: 1;
  }
  .phrase-id {flex: 0 0 2em }
  .button { flex: 0 0 3em }
  .words .play-button { margin: 0 1em 0 0 }

  .word {
    flex: 0 0 auto;
  }

  /* the word or gloss */
  .text { white-space: nowrap  }

  .text.space-true { margin-right: 0.3em; }

  .type { display: none }

  .phrase-notes p, .phrase-notes .image-button {
    color: #aaa;
    margin: 0 1em;
    text-align: right;
    font-size: 0.8em;
  }

  /* This is the phrase gloss */
  .phrase-gloss {
    font-style: italic;
    /* margin-left: 5em; */
  }

  .do_not_publish { color: #aaa }


/* transcript footer */

footer.kenhale, footer.stories {z-index: 1000}

footer a.selected { font-weight: bold }


/* audio player bits */

  #audio-row {
    display: flex;
    align-items: center;
    position: relative;
  }

  #waveform-container {
    position: relative;
    flex: 1;
  }
  #master-button {
    width: 30px;
  }
  #waveform {
    width: 100%;
    height: 100%;
  }

  .play-button {
    opacity: 100%;
    border-radius: 50%;
    height: 2em;
    width: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

/* story bits */

  .story-column:not(:first-child) {
    border-left: 1px solid #aaa;
  }
  .stories .word-row p { margin-top:0 }

/*.stories footer { display: none }*/
.stories .translation { font-style: italic; }
