<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default " en" }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  {{/* NOTE: the Site's title, and if there is a page title, that is set too */}}
  <title>{{ block "title" . }}{{ .Site.Title }} {{ with .Params.Title }} | {{ . }}{{ end }}{{ end }}</title>
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">

  <meta name="viewport" content="width=device-width,minimum-scale=1">
  {{/* NOTE: For Production make sure you add `HUGO_ENV="production"` before your build command */}}
  {{ if eq (getenv "HUGO_ENV") "production" | or (eq .Site.Params.env "production") }}
  <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
  {{ else }}
  <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
  {{ end }}

  <link href='{{ "dist/main.css" | relURL }}' rel='stylesheet' type="text/css" />
  <link href='{{ "css/style.css" | relURL }}' rel='stylesheet' type="text/css" />
  {{ block "favicon" . }}
  {{ partial "site-favicon.html" . }}
  {{ end }}

  {{/* NOTE: These Hugo Internal Templates can be found starting at
  https://github.com/spf13/hugo/blob/master/tpl/tplimpl/template_embedded.go#L158 */}}
  {{- template "_internal/opengraph.html" . -}}
  {{- template "_internal/schema.html" . -}}
  {{- template "_internal/twitter_cards.html" . -}}


  <!-- Audio waveform -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.4.0/wavesurfer.min.js"></script>

  <!-- Spinner while loading audio -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>

  <!-- For transcript scrolling -->
  <script src='{{ "js/scroll-min.js" | relURL }}'></script>

  <!-- Our site scripts -->
  <script src='{{ "js/scripts.js" | relURL }}'></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body class="ma0 avenir bg-near-white {{ $.Param " body_classes" }}{{ with getenv "HUGO_ENV" }} {{ . }}{{ end }}">

  {{ block "header" . }}{{ partial "site-header.html" .}}{{ end }}
  <main role="main">
    {{ block "main" . }}{{ end }}
  </main>
  {{ block "footer" . }}{{ partial "site-footer.html" . }}{{ end }}
  {{ block "scripts" . }}{{ partial "site-scripts.html" . }}{{ end }}

</body>

</html>