{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}

  <!-- SINGLE TEMPLATE -->

  <div class="flex-l mt2 mw8 center">
    <article class="center cf pa3 ph4-ns mw7">

      <div class="nested-copy-line-height lh-copy f6 nested-links nested-img mid-gray">
        {{ .Content }}
      </div>

    </article>

  </div>
{{ end }}
