<footer class="kenhale bg-washed-yellow bottom-0 w-100 pa3" role="contentinfo">
  <div class="flex ">
    <a class=" ph3 no-underline underline-hover" onclick='toggleThings("wordGloss", "wordGloss", ".text.gls")' id="wordGloss"> Word glosses </a>
    <a class=" ph3 no-underline underline-hover" onclick='toggleThings("linguisticGloss", "linguisticGloss", ".morphemes")' id="linguisticGloss"> Linguistic glosses </a>
    <a class=" ph3 no-underline underline-hover" onclick='toggleThings("annotationId", "annotationId", ".phrase-meta-guid")'  id="annotationId"> Annotation IDs </a>
    <a class=" ph3 no-underline underline-hover" onclick='toggleThings("autoScroll", "autoScroll", null)' id="autoScroll"> Autoscroll </a>
  </div>
</footer>

<script>
  /* transcript footer */
  document.addEventListener('DOMContentLoaded', function(){

    // update UI settings
    var wordGloss = (getCookie('wordGloss')=='true')
    if (typeof wordGloss != 'undefined') {
      setElementsState('.text.gls', wordGloss)
      setElementByIdState('wordGloss', wordGloss)
    }

    var linguisticGloss = (getCookie('linguisticGloss')=='true')
    if (typeof linguisticGloss != 'undefined') {
      setElementsState('.morphemes', linguisticGloss)
      setElementByIdState('linguisticGloss', linguisticGloss)
    }

    var annotationId = (getCookie('annotationId')=='true')
    if (typeof annotationId != 'undefined') {
      setElementsState('.phrase-meta-guid', annotationId)
      setElementByIdState('annotationId', annotationId)
    }

    var autoScroll = (getCookie('autoScroll')=='true')
    if (typeof autoScroll != 'undefined') {
      setElementByIdState('autoScroll', autoScroll)
    }

  }, false)

</script>