<!-- 
vernacular

morphology
gloss
word meaning
translation
 -->

<!-- remember: $item is actually the morph property, 
  which again could be single object or an array -->

{{ $scr := .scr}}
{{ $morph := .input}}

<div class="morphemes hide-display">

    <!-- <p> <b>morph:</b> {{ $morph }} </p> -->

<!-- store info about whether we have txt and gloss -->



  <!-- iterate morph array or iterate each object property   -->
  {{ range $i, $val := $morph }}

    {{ if or (eq $i 0) (gt $i 0) }}

        {{ range $j, $valJ := $val }}
          {{ if eq $j "item" }}
            {{ partial "morph/morph-object.html" (dict "scr" $scr "i" $i "items" $valJ) }}
          {{ end }}
        {{ end }}
    
    {{ else }}
        
        {{ if eq $i "item" }}
          {{ partial "morph/morph-object.html" (dict "scr" $scr  "items" $val) }}
        {{ end }}

    {{ end }}

  {{ end }} <!-- range -->

<br>

</div>