

{{ if eq .key "begin-time-offset" }} 
  {{ .scr.Set "phraseBeginTimeOffset" .phrase }}
  <div class="log phrase-begin-time-offset"> {{ .phrase }} </div>
{{ end }}

{{ if eq .key "end-time-offset" }} 
  {{ .scr.Set "phraseEndTimeOffset" .phrase }}
  <div class="log phrase-end-time-offset"> {{ .phrase }} </div>
{{ end }}


{{ if eq .key "guid" }} 
  {{ .scr.Set "phraseGuid" .phrase }}
  <div class="log phrase-guid"> {{ .phrase }} </div>
{{ end }}


{{ if eq .key "item" }}

    <!-- 
    Pass scratch in to range scope by doing $scr := .scr
    Iterate each in the phrase > item 
      segnum
      gls
      note
    -->
    {{ $scr := .scr }}    
    {{ range $q, $phraseItem := .phrase}}
      
      <!-- Phrase gloss -->
      {{ if and (eq $phraseItem.type "gls") (gt (countwords $phraseItem.text) 0) }} 
        {{ $scr.Set "phraseGls" $phraseItem.text }}
      {{ end }}

      <!-- Speaker and lang codes -->
      {{ if and (eq $phraseItem.type "note") (gt (countwords $phraseItem.text) 0) }} 
        {{ $scr.Add "phraseNote" (slice $phraseItem.text) }}
      {{ end }}

    {{ end }} <!-- phrase item range -->


 {{ end }} <!-- $p item -->

