<nav class="pv3 ph3 ph4-ns" role="navigation">
  <div class="flex-l justify-between items-center center">

    <a href="{{ .Site.BaseURL }}" class="f3 fw2 hover-white underline white-90 dib">
      {{ .Site.Title }}
    </a>


    {{ if ne .Site.Title .Title }}
      <span class="post-title ph3 center">
        {{ .Title }}
      </span>
    {{ end }}


<!--
    <div class="flex-l items-center">
      {{ if .Site.Menus.main }}
        <ul class="pl0 mr3">
          {{ range .Site.Menus.main }}
          <li class="list f5 f4-ns fw4 dib pr2 pl2">
            <a class="hover-white no-underline white-90" href="{{ .URL }}" title="{{ .Name }} page">
              {{ .Name }}
            </a>
          </li>
          {{ end }}
        </ul>
      {{ end }}
    </div>
-->

  </div>
</nav>
