<footer class="stories bg-washed-yellow bottom-0 w-100 pa3" role="contentinfo">
  <div class="flex ">
    <a class=" ph3 no-underline underline-hover" onclick='toggleThings("autoScroll", "autoScroll", null)' id="autoScroll"> Autoscroll </a>
  </div>
</footer>

<script>
  /* stories footer */
  document.addEventListener('DOMContentLoaded', function(){

    var autoScroll = (getCookie('autoScroll')=='true')
    if (typeof autoScroll != 'undefined') {
      setElementByIdState('autoScroll', autoScroll)
    }

  }, false)

</script>