<!-- Pass the word variable and Scratch into range context -->
{{ $word := .word }}
{{ $scr := .scr }}

{{ range $i, $item := .word }}

  {{ if or (eq $i 0) (gt $i 0) }}
  
    {{ $scr.SetInMap "wordtype" "array" true }}


    <div 
      class="text {{ $item.type }}
      {{ if eq $item.type "gls" }} hide-display {{ end }}
      ">
        {{ $item.text }} 
    </div>
  
  {{ else }}

    {{ if eq $i "text" }} 

      {{ if not (eq $word.type "punct") }}
        {{ $scr.SetInMap "wordtype" "object" true }}
      {{ end }}

      <div 
        class="text 
        {{ $word.type }}
        {{ if eq $word.type "gls" }} hide-display {{ end }} 
        "> 
          {{ $word.text }} 
      </div>

     {{ end }}

  {{ end }}


  {{ if eq $i "morph" }} 
    <!-- item is actually the morph property, 
      which again could be single object or an array -->
    {{ partial "morphemes.html" (dict "scr" $scr "key" $i "input" $item) }}
  {{ end }} <!-- if morph -->


{{ end }}
