{{ define "main" }}

  <!-- INDEX TEMPLATE -->

  <article class="cf ph3 ph5-l pv3 pv4-l f6 center lh-copy mid-gray">
    {{ .Content }}
  </article>



<!-- 

<div class="mw9 center ph3-ns">
  <div class="cf ph2-ns">
    <div class="fl w-100 w-50-ns pa2">
      <div class="pv1 ph4 ba b--light-blue">
        
        <h1>Ken Hale transcripts</h1>
        <ul class="list pl0">
          {{ range where .Site.Pages.ByTitle "Section" "kenhale" }}
            {{ if eq .Type "kenhale" }}
              <li>
                  <a href="{{.Permalink}}">{{.Title}}</a>
              </li>
            {{ end }}
          {{ end }}
        </ul>

      </div>
    </div>
    <div class="fl w-100 w-50-ns pa2">
      <div class="pv1 ph4 ba b--light-blue">

        <h1>Stories</h1>
        <ul class="list pl0">
          {{ range where .Site.Pages "Section" "stories"}}
            {{ if eq .Type "stories" }}
              <li>
                  <a href="{{.Permalink}}">{{.Title}}</a>
              </li>
            {{ end }}
          {{ end }}
        </ul>

      </div>
    </div>
  </div>
</div>

 -->


{{ end }}

