{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}

<script>
  var closeImage = function () {
    document.getElementById('image-container').classList.add('hide-display')
  }
  var loadImage = function (src) {
    console.log(src)
    document.getElementById('image').innerHTML = '<img src="images/' + src + '" />'
    document.getElementById('image-meta').innerHTML = src
    document.getElementById('image-container').classList.remove('hide-display')
  }
  document.addEventListener('DOMContentLoaded', function () {
    var isAdmin = (getCookie("isAdmin") == 'true')
    console.log("is admin", isAdmin)
    if (isAdmin) document.getElementById("scrolling_div").classList.add('admin')
  }, false)
</script>

{{ $url := urls.Parse .Permalink }}
{{ $transcriptId := replace (replace $url.Path "stories" "") "/" "" }}

{{ partial "audio-script.html" (dict "baseurl" .Site.BaseURL "transcriptId" $transcriptId ) }}

<div class="page-row">

  <div id="scrolling_div" class="page-content">

    <!-- check if we have an id, to prevent compile errors -->
    {{ if (index .Site.Data.stories $transcriptId) }}

    {{ range $phraseKey, $phrase := (index .Site.Data.stories $transcriptId).phrases }}

    <div class='phrase bg-washed-blue' id="phrase-{{ $phraseKey }}">

      <div class="phrase-id pa1">{{ add 1 $phraseKey }}</div>

      {{ if and ($phrase.meta.begin_time_offset) ($phrase.meta.end_time_offset) }}
      {{ partial "audio-button.html" (dict "startTime" $phrase.meta.begin_time_offset "endtime"
      $phrase.meta.end_time_offset ) }}
      {{ else }}
      <div class="audio-button-missing"></div>
      {{ end }}

      <section class="phrase-content-row">
        <div class="phrase-content" data-offset='{{ $phrase.meta.end_time_offset }}'>

          <div class="words">
            <div class='word-row fl w-50 pa2'>
              {{ range $i, $annotation := $phrase.words.vernaculars }}
              <p>{{ $annotation }}</p>
              {{ end }}
              <p>{{ $phrase.words.vernacular }}</p>
            </div>

            <div class='word-row translation fl w-50 pa2'>
              {{ range $gloss := $phrase.words.glosses }}
              <p>{{ $gloss }}</p>
              {{ end }}
              <p>{{ $phrase.words.gloss }}</p>
            </div>
          </div>

          {{ if $phrase.meta.img }}
          <div class="image-button" onclick='loadImage("{{ $phrase.meta.img }}")'>
            {{ $phrase.meta.img }} <i class="fa fa-picture-o"></i>
          </div>
          {{ end }}

        </div>
      </section>

      <div class="phrase-notes">
        <p class="lang"> {{ $phrase.meta.lang }} </p>
        <p class="speaker"> {{ $phrase.meta.speaker }} </p>
      </div>

    </div>

    {{ end }} <!-- phrase range -->

    {{ end }} <!-- index .Site.Data.stories transcriptId -->

  </div> <!-- page-content -->

  <div id="image-container" class="image-container hide-display">
    <div class="close" onclick='closeImage()'><i class="fa fa-times-circle "></i></div>
    <div id="image-meta" class="meta">meta</div>
    <div id="image"></div>
  </div>

</div> <!-- page-row -->

{{ end }}
{{ define "footer" }}{{ partial "stories-footer.html" . }}{{ end }}